.app {
    text-align: center;

    &-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 32px;
        pointer-events: none;
    }

    &-header {
        background-color: var(--background-primary);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: var(--text-regular);
    }

    &-link {
        color: var(--link);
    }

    button {
        border: 1px solid var(--text-regular);
        padding: 0.5em 1em;
        background: no-repeat;
        color: var(--text-regular);
        cursor: pointer;
        outline: none;
    }

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
